a.mm-btn {
  text-decoration: none;
  color: inherit;
}
.mm-btn {
  color: #fff;
  background-image: none;
  background-color: #727B84;
  display: inline-block;
  padding: 7px 21px;
  font-size: 14px;
  font: inherit;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  border: solid 1px #727B84;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.mm-btn:hover {
  background-color: #868E96;
  border: solid 1px #868E96;
}
.mm-btn:active,
.mm-btn.active {
  opacity: 0.9;
  position: relative;
}
.mm-btn.active:after {
  content: '';
  position: absolute;
  display: block;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  opacity: 0.35;
  border: solid 6px;
  border-radius: 6px;
  border-color: inherit;
}
.mm-btn + .mm-btn {
  margin-left: 10px;
}
.mm-btn:disabled,
.mm-btn.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.mm-btn.mm-btn-rounded {
  border-radius: 50px;
}
.mm-btn.mm-btn-max {
  padding: 15px 45px;
  font-size: 18px;
}
.mm-btn.mm-btn-large {
  padding: 10px 30px;
}
.mm-btn.mm-btn-small {
  padding: 5px 15px;
  font-size: 13px;
}
.mm-btn.mm-btn-mini {
  padding: 4px 12px;
  font-size: 12px;
}
.mm-btn.mm-btn-block {
  display: block;
  width: 100%;
}
.mm-btn.mm-btn-block + .mm-btn.mm-btn-block {
  margin-left: auto;
  margin-top: 10px;
}
.mm-btn.mm-btn-info {
  color: #fff;
  background-color: #2DB7F5;
  border-color: #2DB7F5;
}
.mm-btn.mm-btn-info:hover {
  background-color: #36C1FA;
  border-color: #36C1FA;
}
.mm-btn.mm-btn-info:disabled,
.mm-btn.mm-btn-info.disabled {
  cursor: not-allowed;
  background-color: #6BCCEA;
  border-color: #6BCCEA;
}
.mm-btn.mm-btn-primary {
  color: #fff;
  background-color: #7952B3;
  border-color: #7952B3;
}
.mm-btn.mm-btn-primary:hover {
  background-color: #8E74B4;
  border-color: #8E74B4;
}
.mm-btn.mm-btn-primary:disabled,
.mm-btn.mm-btn-primary.disabled {
  cursor: not-allowed;
  background-color: #9E98CE;
  border-color: #9E98CE;
}
.mm-btn.mm-btn-success {
  color: #fff;
  background-color: #03B976;
  border-color: #03B976;
}
.mm-btn.mm-btn-success:hover {
  background-color: #05a56a;
  border-color: #05a56a;
}
.mm-btn.mm-btn-success:disabled,
.mm-btn.mm-btn-success.disabled {
  cursor: not-allowed;
  background-color: #56ceb0;
  border-color: #56ceb0;
}
.mm-btn.mm-btn-danger {
  color: #fff;
  background-color: #F56C6C;
  border-color: #F56C6C;
}
.mm-btn.mm-btn-danger:hover {
  background-color: #F78989;
  border-color: #F78989;
}
.mm-btn.mm-btn-danger:disabled,
.mm-btn.mm-btn-danger.disabled {
  cursor: not-allowed;
  background-color: #FAB6B6;
  border-color: #FAB6B6;
}
.mm-btn.mm-btn-warning {
  color: #fff;
  background-color: #F9AA40;
  border-color: #F9AA40;
}
.mm-btn.mm-btn-warning:hover {
  background-color: #FAB458;
  border-color: #FAB458;
}
.mm-btn.mm-btn-warning:disabled,
.mm-btn.mm-btn-warning.disabled {
  cursor: not-allowed;
  background-color: #ffc576;
  border-color: #ffc576;
}
.mm-btn.clicked {
  position: relative;
}
.mm-btn.clicked:before {
  content: '';
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  opacity: .8;
  border: solid 0px;
  border-color: inherit;
  border-radius: inherit;
  animation: btn-clicked-effect 0.5s;
}
.mm-btn.mm-btn-type-plain {
  color: #868E96;
  border-color: #727B84;
  background-color: transparent;
}
.mm-btn.mm-btn-type-plain:hover {
  background-color: #727B84;
  color: #fff;
}
.mm-btn.mm-btn-type-plain.mm-btn-info {
  color: #2DB7F5;
  border-color: #36C1FA;
}
.mm-btn.mm-btn-type-plain.mm-btn-info:hover {
  border-color: #2DB7F5;
  background-color: #2DB7F5;
  color: #fff;
}
.mm-btn.mm-btn-type-plain.mm-btn-primary {
  color: #7952B3;
  border-color: #8E74B4;
}
.mm-btn.mm-btn-type-plain.mm-btn-primary:hover {
  border-color: #7952B3;
  background-color: #7952B3;
  color: #fff;
}
.mm-btn.mm-btn-type-plain.mm-btn-success {
  color: #03B976;
  border-color: #05a56a;
}
.mm-btn.mm-btn-type-plain.mm-btn-success:hover {
  border-color: #03B976;
  background-color: #03B976;
  color: #fff;
}
.mm-btn.mm-btn-type-plain.mm-btn-danger {
  color: #F56C6C;
  border-color: #F78989;
}
.mm-btn.mm-btn-type-plain.mm-btn-danger:hover {
  border-color: #F56C6C;
  background-color: #F56C6C;
  color: #fff;
}
.mm-btn.mm-btn-type-plain.mm-btn-warning {
  color: #F9AA40;
  border-color: #FAB458;
}
.mm-btn.mm-btn-type-plain.mm-btn-warning:hover {
  border-color: #F9AA40;
  background-color: #F9AA40;
  color: #fff;
}
.mm-btn-block + .mm-btn-block {
  margin-top: 5px;
}
/**
* animation
* e.g keyframes(effect-test, all, {css})
*/
@-moz-keyframes btn-clicked-effect {
  to {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
    opacity: 0;
  }
}
@-o-keyframes btn-clicked-effect {
  to {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
    opacity: 0;
  }
}
@-webkit-keyframes btn-clicked-effect {
  to {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
    opacity: 0;
  }
}
@keyframes btn-clicked-effect {
  to {
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
    opacity: 0;
  }
}
